<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css"/>
        <title>{{ title }}</title>
    </head>
    <body>
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    
    {% if atr == 'ul' %}
    <h2>Список профессий</h2>
    <ul>
    {% for item in plist %}
    <li>{{item}}</li>
    {% endfor %}
    </ul>
    
    {% elif atr == 'ol' %}
    <h2>Список профессий</h2>
    <ol>
    {% for item in plist %}
    <li>{{item}}</li>
    {% endfor %}
    </ol>
    
    {% else %}
        <h2>Список профессий</h2>
        <h3>Неверный параметр</h3>
    {% endif %}
    </body>
</html>